<div class="container" ng-controller="view3Controller" style="margin-top: 100px; margin-left: 250px;">
    <div class="row">
      	<div class='col-md-8'>
	    	<div class="row">
            	<p ng-repeat="ghost in ghosts" class="animated infinite pulse" style="font-family: 'Alegreya SC', serif; font-size: 25px;">
				Three ghosts, {{ ghost.Name1 }}, {{ ghost.Name2 }} and {{ ghost.Name3 }}, went on a voyage to find a buried treasure hidden behind a waterfall.  Their treasure map led them to a deserted island in the middle of the Indian Ocean named "{{ ghost.Dog }} Island".  After many weeks at sea, they finally landed on {{ ghost.Dog }} Island.  After walking around for a while, they came across a mysterious animal that sorta looked like a {{ ghost.Animal }}.  They named the animal {{ ghost.Name4 }}. {{ ghost.Name4 }} was nice and let the three ghosts pet him.  All of a sudden, {{ ghost.Name4 }} ran off into the forest.  The three ghosts all chased after {{ ghost.Name4 }} and were led to a beautiful waterfall.  All the ghosts dove into the water and swam across to see behind the waterfall.  Behind the waterfall, {{ ghost.Name1 }}, {{ ghost.Name2 }} and {{ ghost.Name3 }} saw a huge treasure chest filled with hundreds of pieces of {{ ghost.Candy }}.
            	</p>
            	<a href="#/"><i class="fa fa-backward fa-5x" aria-hidden="true"></i></a>
            </div>
		</div>
	</div>
</div>
