
  <div class="container">
    <div class="row">
      <div class='col-md-10' ng-controller='piratesController'>
          <form class="form-horizontal">
            <div class="form-group">
              <h1>PIRATES!</h1>
              <label class="control-label col-sm-2">Name 1:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter the name of a friend" ng-model='newPirate.Name1'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Name 2:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter the name of a friend" ng-model='newPirate.Name2'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Name 3:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter the name of a friend" ng-model='newPirate.Name3'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Earth's best ocean:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Pacific, Indian, Atlantic, etc" ng-model='newPirate.Ocean'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Dog's Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter the name of a Dog" ng-model='newPirate.Dog'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Small Animal:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Small animal" ng-model='newPirate.Animal'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Boy's Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter a boy's name" ng-model='newPirate.Name4'>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Favorite Candy:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="What's your favorite candy?" ng-model='newPirate.Candy'>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-click='addPirate()'>Pirate</button>
              </div>
            </div>
          </form>
      </div>
    </div>
