<div class="container" ng-controller="view2Controller" style="margin-top: 100px; margin-left: 250px;">
    <div class="row">
      	<div class='col-md-8'>
	    	<div class="row">
            	<p ng-repeat="pirate in pirates" class="animated infinite pulse" style="font-family: 'Alegreya SC', serif; font-size: 25px;">
				Three pirates, {{ pirate.Name1 }}, {{ pirate.Name2 }} and {{ pirate.Name3 }}, went on a voyage to find a buried treasure hidden behind a waterfall.  Their treasure map led them to a deserted island in the middle of the {{ pirate.Ocean }} Ocean named "{{ pirate.Dog }} Island".  After many weeks at sea, they finally landed on {{ pirate.Dog }} Island.  After walking around for a while, they came across a mysterious animal that sorta looked like a {{ pirate.Animal }}.  They named the animal {{ pirate.Name4 }}. {{ pirate.Name4 }} was nice and let the three pirates pet him.  All of a sudden, {{ pirate.Name4 }} ran off into the forest.  The three pirates all chased after {{ pirate.Name4 }} and were led to a beautiful waterfall.  All the pirates dove into the water and swam across to see behind the waterfall.  Behind the waterfall, {{ pirate.Name1 }}, {{ pirate.Name2 }} and {{ pirate.Name3 }} saw a huge treasure chest filled with hundreds of pieces of {{ pirate.Candy }}.
            	</p>
            	<a href="#/"><i class="fa fa-backward fa-5x" aria-hidden="true"></i></a>
            </div>
		</div>
	</div>
</div>
